# Dependencies
node_modules
client/node_modules
server/node_modules

# Production builds
dist
client/dist
.output

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# Vercel
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor and OS directories
.vscode
.idea
.DS_Store
Thumbs.db
